// COLORS BG & TEXT
$color-dark : #333232;
$color-orange:#c9652c;
.bg-header{
    background: linear-gradient(100deg, #444444 50%, #1d1c1c 100px);
}
.bg-grey{
    background-color: rgba(177, 175, 175, 0.6);;
}
.text-dark{
    color: $color-dark;
}
.text-orange{
    color: $color-orange;
}
