@keyframes appearArticle {
    0% {opacity: 0;}
    40%{opacity:0}
    100%{opacity: 1;}
}

@keyframes moveNameDishLeft {
    0%{
        margin-left: 25%;
        color: #000;
    }
    100%{left:0;
    }
}

@keyframes moveNameDishRight{
    0%{
        margin-right: 25%;
        color: #000;
    }
    100%{right:0;}
}

