@import 'keyframes';

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    max-width: 100%;
    font-size: 1.2rem;
    min-height: 100%!important;
}

$color-dark : #333232;
$color-orange:#c9652c;

.bg-header{
    background: linear-gradient(100deg, $color-dark 50%, #191919 100px);
}

.color-dark {
    color: $color-dark;
}

nav {
    button:hover{
        outline: none!important;
        box-shadow: 0 0 0 0rem!important;
        background-color: $color-orange!important;
        border: 1px solid $color-dark;
        span{
            color: $color-dark!important;
        }
    }
    button:focus{
        outline: none!important;
        box-shadow: 0 0 0 0rem!important;
    }
    &:hover{
        background-color: rgba(177, 175, 175, 0.6);
    }
    .active{
        border-bottom: 2px solid $color-orange;
        display: inline-block;
    }
}

main{
    .shadow{
        box-shadow: 1.5px 1.5px 4px $color-dark!important;
    } 
    .img-dish img:first-child{
        animation: appearArticle 1000ms;
    }
    .img-dish img:nth-child(2){
        animation: appearArticle 2000ms ease-in-out;
    }
    .img-dish img:nth-child(3){
        animation: appearArticle 3000ms ease-in-out;   
    }
    article{
        animation: appearArticle 3500ms ease-in;
    }
}

