@import './scss/color.scss';
@import './scss/keyframes.scss';
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    max-width: 100%;
    font-size: 1.2rem;
    min-height: 100%!important;
    color: #333232!important;
}

img{
    object-fit: cover;
}

// FONT
.font{
    font-family: 'Acme', sans-serif!important;
}

nav {
    button:hover{
        outline: none!important;
        box-shadow: 0 0 0 0rem!important;
        background-color: $color-orange!important;
        border: 1px solid $color-dark;
        span{
            color: #fff!important;
        }
    }
    button:focus{
        outline: none!important;
        box-shadow: 0 0 0 0rem!important;
    }
    .active{
        border-bottom: 3px solid $color-orange;
    }
}

main{
    #btn-back-to-top {
        & span{
            visibility: hidden;
        }
        &:hover span{
            visibility: visible;
        } 
    }
    .shadow{
        box-shadow: 2.5px 2.5px 3px $color-dark!important;
    } 
    .animation-img-dish img:first-child{
        animation: appearArticle 1000ms;
    }  
    .animation-img-dish img:nth-child(2){
        animation: appearArticle 2000ms ease-in-out;
    }  
    .animation-img-dish img:nth-child(3){
        animation: appearArticle 3000ms ease-in-out;   
    }
    article{
        animation: appearArticle 3500ms ease-in;
    }
    .nameDish p:nth-child(2n-1){
        animation: moveNameDishLeft 3000ms;    
    } 
    .nameDish p:nth-child(2n){
        animation: moveNameDishRight 3000ms;    
    } 
    section {
        background: linear-gradient(315deg, rgb(39, 39, 39) 6%, rgb(228, 230, 231) 38%, rgb(242, 255, 255) 48%, rgb(20, 14, 14) 98%)!important;
    }
    #carousel img {
        width:100%!important;
        height: 13rem!important;
    }

}

footer{
    margin-top:-5px;
    & a:nth-of-type(1):hover{
        color:rgb(251, 146, 255)!important;
    }
    & a:nth-of-type(2):hover{
        color:rgb(180, 159, 180)!important;
    }
}


// RESPONSIVE
@media screen and (max-width:1000px) {
    .active{
        border-bottom: 0px solid transparent!important;
        
    }
    .active .text-dark{
        color:$color-orange!important;
    } 
}

